.card {
  background-color: #f00;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 60%;
}

.card .title {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}

.card .content {
  padding: 12px 3px;
  background-color: #fff;
  color: #000;
}
